<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        Página Inicial
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head>

    <body>
        <center> Seja Bem Vindo</center>
        <center> Lista de Tarefas: </center>

        <table class="table">
            <tr></tr>

        </table>

        <asp:Button ID="btnAdicionar" runat="server" Text="Adicionar" Width="100px" OnClick="btnAdicionar_Click" />
        <asp:Button ID="btnDeletar" runat="server" Text="Deletar" Width="100px" OnClick="btnDeletar_Click" />
        <asp:Button ID="btnEditar" runat="server" Text="Editar" Width="100px" OnClick="btnEditar_Click" />

    </body>

</head>

</html>
</html>