
@{
    ViewBag.Title = "ViewTask";
}

@using TaskList.Models;
@model Tasks;

<h2>Detalhes da Tarefa</h2>

<p>Título</p>
@Model.titulo
<p>Status</p>
@Model.status
<p>Descrição</p>
@Model.descricao



